*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-image:url('wallpaper.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

.logo {
    width: 250px;
    padding: 8px;
    margin: 30px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    background-color: #cfcfcf;
    width: 100%;
    max-width: 300px;
    border-radius: 10%;
    padding: 40px 60px 20px 60px;
    text-align: left;
}


label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    
}

input{
    border-radius: 20em;
    text-indent: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputname{
    background: url('icon.png') no-repeat;
    background-size: 5%;
    background-position: 0% ;
}
.inputmail{
    background: url('mail.png') no-repeat;
    background-size: 5%;
    background-position: 0% ;
}
.inputpassword{
    background: url('password.png') no-repeat;
    background-size: 5%;
    background-position: 0% ;
}

.wrapper-img{
    filter: grayscale(1);
    object-fit: cover;
    transition: 1s;
    cursor: pointer;
}

.wrapper-img:hover{
    filter: none;
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.wrapper-img2{
    filter: grayscale(1);
    object-fit: cover;
    transition: 1s;
    cursor: pointer;
}

.wrapper-img2:hover{
    filter: none;
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}


.form input, select{
    width: 100%;
    max-width: 600px;
    padding: 3%;
    border:0;
    margin-bottom: 30px;
}


.form input[type="submit"]{
    background-color: #ff0000;
    color: #f0f0f0;
}

.criar{
    margin-bottom: 20px;
    margin-right: 50px;

}

button {
    background-color: #ff0000;
    color: white;
    border: 2px solid #ff0000; 
    padding: 1px 123px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10em;
    width: 300px;
}
